body {
  margin: unset;
  padding: unset;
  background-color: var(--theme-blue);
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}
a:hover,
a:active {
  text-decoration: none;
  color: #000;
  background-color: none;
}

div,
p,
section,
a,
img {
  cursor: url('/src/image/surf.svg'), auto;
}
