@-webkit-keyframes wave-text {
  00% {
    -webkit-transform: translateY(0em);
  }
  60% {
    -webkit-transform: translateY(-1.5em);
  }
  100% {
    -webkit-transform: translateY(0em);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes shake-text {
  00% {
    -webkit-transform: translateX(0em);
  }
  60% {
    -webkit-transform: translateX(-1.5em);
  }
  100% {
    -webkit-transform: translateX(0em);
  }
}
@-webkit-keyframes fall-down-right {
  00% {
    opacity: 0.1;
    -webkit-transform: translateY(-1em);
  }
  30% {
    opacity: 0.5;
  }
  60% {
    -webkit-transform: translate(30vw, 60vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(100vh);
  }
}
@-webkit-keyframes fall-down-left {
  00% {
    opacity: 0.5;
    -webkit-transform: translateY(-1em);
  }
  60% {
    -webkit-transform: translate(-10px, 30vh);
  }
  100% {
    -webkit-transform: translateY(100vh);
    opacity: 1;
  }
}
@-webkit-keyframes fall-left-right {
  00% {
    opacity: 0.5;
    -webkit-transform: translateY(-1em);
  }
  30% {
    -webkit-transform: translate(-50px, 30vh);
  }
  60% {
    -webkit-transform: translate(10px, 60vh);
  }
  100% {
    -webkit-transform: translateY(100vh);
    opacity: 1;
  }
}

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-1.5em);
  }
  100% {
    transform: translateY(0em);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shake-text {
  00% {
    transform: translateX(0em);
  }
  60% {
    transform: translateX(-1.5em);
  }
  100% {
    transform: translateX(0em);
  }
}
@keyframes fall-down-right {
  00% {
    opacity: 0.1;
    transform: translateY(-1em);
  }
  30% {
    opacity: 0.5;
  }
  60% {
    transform: translate(30vw, 60vh);
  }
  100% {
    opacity: 1;
    transform: translateY(100vh);
  }
}
@keyframes fall-down-left {
  00% {
    opacity: 0.5;
    transform: translateY(-1em);
  }
  60% {
    transform: translate(-10px, 30vh);
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}
@keyframes fall-left-right {
  00% {
    opacity: 0.5;
    transform: translateY(-1em);
  }
  30% {
    transform: translate(-50px, 30vh);
  }
  60% {
    transform: translate(10px, 60vh);
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}
@keyframes orbit {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes orbit2 {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(-120deg);
  }
}

*.hidden {
  display: none !important;
}
*.appear {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

/* page */
.page {
  display: flex;
  width: 100%;
  height: 100vh;
  background: var(--theme-blue);
}
.page:nth-of-type(2),
.page:nth-of-type(4) {
  background: #f7f9f9;
}

.page:nth-of-type(2),
.page:nth-of-type(3),
.page:nth-of-type(4) {
  border-top: #000 solid 12px;
}

.page:nth-of-type(3) {
  position: relative;
}

/* indicator */
.index-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100px;
  height: 100vh;
  z-index: 100;
}
.index {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 16px;
}
.index-icon {
  margin: auto;
  width: 24px;
  height: 24px;
  fill: var(--theme-light-orange);
}
.index-icon.active {
  fill: var(--theme-orange);
}

/* logo */
.logo-section {
  margin: auto;
}
.logo {
  display: inline-block;
  width: 100px;
  -webkit-animation: wave-text 1s ease-in-out infinite;
  animation: wave-text 1s ease-in-out infinite;
}
.logo-section img:nth-of-type(2) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.logo-section img:nth-of-type(3) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.logo-section img:nth-of-type(4) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.logo-section img:nth-of-type(5) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.logo-section img:nth-of-type(6) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.logo-section img:nth-of-type(7) {
  margin-left: -20px;
}

.smile {
  position: absolute;
  width: 80px;
}
.smile:nth-of-type(1) {
  top: 40vh;
  left: 30vw;
  transform: rotate(-30deg);
}
.smile:nth-of-type(2) {
  top: 30vh;
  right: 30vw;
  transform: rotate(15deg);
}
.smile:nth-of-type(3) {
  bottom: 30vh;
  right: 20vw;
  transform: rotate(-26deg);
}
.smile:nth-of-type(4) {
  bottom: 42vh;
  left: 20vw;
  transform: rotate(75deg);
}
.smile:nth-of-type(5) {
  bottom: 50vh;
  right: 21vw;
}
.smile:nth-of-type(6) {
  bottom: 32vh;
  right: 50vw;
}

.section {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

/* 체크리스트 */
.background {
  background-image: url('/src/image/memo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  width: 50%;
  height: 100vh;
  position: absolute;
}
.checklist {
  width: 400px;
  background-color: var(--theme-light-orange);
  border: #000 solid 8px;
  margin: auto;
  z-index: 100;
}
.checklist-item {
  display: flex;
  align-items: center;
  padding-left: 28px;
}
.checklist-item p {
  margin-left: 10px;
}
.check-icon {
  stroke: unset;
}
.check-icon.checked {
  stroke: #000;
}

.section .items {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.items * {
  z-index: 100;
  margin: auto;
}
.items:nth-of-type(2) img {
  margin-left: 80px;
  animation: shake-text 1s ease-in-out infinite;
}

.confetti-section {
  position: absolute;
}
.confetti {
  opacity: 0;
}
.confetti:nth-of-type(1) {
  animation: fall-down-right 6s linear infinite;
  transform: rotate(-180deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.confetti:nth-of-type(2) {
  animation: fall-down-right 8s linear infinite;
  transform: rotate(180deg);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.confetti:nth-of-type(3) {
  transform: rotate(80deg);
  animation: fall-down-left 8s linear infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.confetti:nth-of-type(4) {
  transform: rotate(90deg);
  animation: fall-left-right 8s linear infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.confetti:nth-of-type(5) {
  transform: rotate(90deg);
  animation: fall-down-left 8s linear infinite;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.confetti:nth-of-type(6) {
  animation: fall-down-left 8s linear infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.confetti:nth-of-type(7) {
  animation: fall-down-left 8s linear infinite;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.confetti:nth-of-type(8) {
  transform: rotate(90deg);
  animation: fall-down-right 8s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.confetti:nth-of-type(9) {
  animation: fall-left-right 7s linear infinite;
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

.image-comment {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.member {
  bottom: 0;
  position: absolute;
}

.wrapper {
  width: calc(100vw - 132px);
  margin-left: auto;
  margin-right: 0;
}

.setlist-review {
  z-index: 100;
  color: #fff;
  width: 60%;
}
.group {
  border-bottom: 1px #000 solid;
}
.setlist {
}
.review {
}

.lights {
  position: absolute;
  bottom: 10vh;
  width: 45%;
  text-align: center;
  opacity: 0.8;
}
.lights div {
  padding: 12px 0px;
}
.lights div:nth-child(2) {
  transform: rotate(1deg);
}
.lights div:nth-child(3) {
  transform: rotate(-2deg);
}

.lights div img:nth-of-type(1),
.lights div img:nth-of-type(10),
.lights div img:nth-of-type(27),
.lights div img:nth-of-type(28) {
  animation: orbit2 1s ease-in-out infinite;
  animation-delay: 0.1s;
}
.lights div img:nth-of-type(2),
.lights div img:nth-of-type(11),
.lights div img:nth-of-type(26),
.lights div img:nth-of-type(29) {
  animation: orbit 2s ease-in-out infinite;
}
.lights div img:nth-of-type(3),
.lights div img:nth-of-type(12),
.lights div img:nth-of-type(25),
.lights div img:nth-of-type(30) {
  animation: orbit2 1s ease-in-out infinite;
  animation-delay: 0.5s;
}
.lights div img:nth-of-type(4),
.lights div img:nth-of-type(13),
.lights div img:nth-of-type(24),
.lights div img:nth-of-type(31) {
  animation: orbit 3s ease-in-out infinite;
}
.lights div img:nth-of-type(5),
.lights div img:nth-of-type(14),
.lights div img:nth-of-type(23) {
  animation: orbit 1s ease-in-out infinite;
  animation-delay: 2s;
}
.lights div img:nth-of-type(6),
.lights div img:nth-of-type(15),
.lights div img:nth-of-type(22) {
  animation: orbit 1s ease-in-out infinite;
  animation-delay: 0.3s;
}
.lights div img:nth-of-type(7),
.lights div img:nth-of-type(16),
.lights div img:nth-of-type(21) {
  animation: orbit2 3s ease-in-out infinite;
  animation-delay: 0.1;
}
.lights div img:nth-of-type(8),
.lights div img:nth-of-type(17),
.lights div img:nth-of-type(20) {
  animation: orbit2 2s ease-in-out infinite;
  animation-delay: 0.2s;
}
.lights div img:nth-of-type(9),
.lights div img:nth-of-type(18),
.lights div img:nth-of-type(19) {
  animation: orbit2 1s ease-in-out infinite;
  animation-delay: 0.5s;
}
